#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 > #backgroundBox {
  position: absolute;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 > #alignmentBox {
  position: relative;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_1 {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Circle_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Circle_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Circle_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Circle_1 {
  width: 520.0px;
  height: 520.0px;
  min-height: 520.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Circle_1 {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Circle_1 > .backgroundLayer > .colorLayer {
  background-color: #F8CFCF;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Circle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Circle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Circle_1 span#rtr-s-Circle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Path_5 {
  position: absolute;
  width: 403.753173828125px;
  height: 263.0940246582031px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Path_10 {
  position: absolute;
  width: 402.3457336425781px;
  height: 267.2242126464844px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Path_24 {
  position: absolute;
  width: 264.1234436035156px;
  height: 322.9837646484375px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Path_31 {
  position: absolute;
  width: 261.444580078125px;
  height: 328.8970031738281px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Ellipse {
  width: 222.12342084348137px;
  height: 217.00000000000006px;
  min-height: 217.00000000000006px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Ellipse {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse span#rtr-s-Ellipse_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Ellipse_1 {
  width: 222.12342084348137px;
  height: 217.00000000000006px;
  min-height: 217.00000000000006px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Ellipse_1 {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Ellipse_2 {
  width: 222.12342084348137px;
  height: 217.00000000000006px;
  min-height: 217.00000000000006px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Ellipse_2 {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Ellipse_3 {
  width: 222.12342084348137px;
  height: 217.00000000000006px;
  min-height: 217.00000000000006px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Ellipse_3 {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button {
  position: absolute;
  width: 150.0px;
  min-height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button > .backgroundLayer {
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
  border-bottom-right-radius: 39px;
  border-bottom-left-radius: 39px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999997%);
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FDBCBC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FDBCBC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FDBCBC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FDBCBC;
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
  border-bottom-right-radius: 39px;
  border-bottom-left-radius: 39px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button > .backgroundLayer {
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
  border-bottom-right-radius: 39px;
  border-bottom-left-radius: 39px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button span#rtr-s-Button_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_1 {
  position: absolute;
  width: 164.0px;
  min-height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_1 {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
  border-bottom-right-radius: 39px;
  border-bottom-left-radius: 39px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999997%);
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FDBCBC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FDBCBC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FDBCBC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FDBCBC;
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
  border-bottom-right-radius: 39px;
  border-bottom-left-radius: 39px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
  border-bottom-right-radius: 39px;
  border-bottom-left-radius: 39px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_2 {
  position: absolute;
  width: 194.0478515625px;
  min-height: 84.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_2 {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  border-bottom-right-radius: 41px;
  border-bottom-left-radius: 41px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999997%);
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FDBCBC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FDBCBC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FDBCBC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FDBCBC;
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  border-bottom-right-radius: 41px;
  border-bottom-left-radius: 41px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  border-bottom-right-radius: 41px;
  border-bottom-left-radius: 41px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_3 {
  position: absolute;
  width: 198.9760742187499px;
  min-height: 75.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_3 {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-right-radius: 37px;
  border-bottom-left-radius: 37px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999997%);
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FDBCBC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FDBCBC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FDBCBC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FDBCBC;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-right-radius: 37px;
  border-bottom-left-radius: 37px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-right-radius: 37px;
  border-bottom-left-radius: 37px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_6 {
  position: absolute;
  width: 389.1142578125001px;
  min-height: 435.2363636363641px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_6 {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #FFE5C0 99.99999999999999%);
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FDBCBC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FDBCBC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FDBCBC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FDBCBC;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Table_2 {
  position: absolute;
  width: 347.6666666666682px;
  height: 350.1706298882363px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Table_2 {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Table_2 > .backgroundLayer > .colorLayer {
  background-color: #FFEDD3;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Table_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FDBCBC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FDBCBC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FDBCBC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FDBCBC;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_72 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_72 {
  width: 50.000000000000014%;
  height: 16.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_72 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_72 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_72 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_72 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_72 span#rtr-s-Text_cell_72_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_74 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_74 {
  width: 50.000000000000014%;
  height: 16.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_74 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_74 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_74 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_74 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_74 span#rtr-s-Text_cell_74_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_73 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_73 {
  width: 50.000000000000014%;
  height: 16.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_73 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_73 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_73 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_73 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_73 span#rtr-s-Text_cell_73_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_75 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_75 {
  width: 50.000000000000014%;
  height: 16.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_75 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_75 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_75 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_75 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_75 span#rtr-s-Text_cell_75_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_19 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_19 {
  width: 50.000000000000014%;
  height: 16.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_19 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_19 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_20 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_20 {
  width: 50.000000000000014%;
  height: 16.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_20 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_20 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_21 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_21 {
  width: 50.000000000000014%;
  height: 16.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_21 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_21 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_22 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_22 {
  width: 50.000000000000014%;
  height: 16.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_22 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_22 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_23 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_23 {
  width: 50.000000000000014%;
  height: 16.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_23 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_23 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_23 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_24 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_24 {
  width: 50.000000000000014%;
  height: 16.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_24 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_24 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_24 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_25 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_25 {
  width: 50.000000000000014%;
  height: 16.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_25 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_25 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_25 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_25 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_26 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_26 {
  width: 50.000000000000014%;
  height: 16.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_26 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_26 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_26 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_26 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_3 {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_6 {
  position: absolute;
  width: 79.99999999999943px;
  min-height: 40.54897114255698px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_6 {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999997%);
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FDBCBC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FDBCBC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FDBCBC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FDBCBC;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_6 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_7 {
  position: absolute;
  width: 389.1142578125001px;
  min-height: 196.2363636363641px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_7 {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #FFE5C0 99.99999999999999%);
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FDBCBC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FDBCBC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FDBCBC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FDBCBC;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Table_3 {
  position: absolute;
  width: 347.66666666666777px;
  height: 113.65687662941218px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Table_3 {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Table_3 > .backgroundLayer > .colorLayer {
  background-color: #FFEDD3;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Table_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FDBCBC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FDBCBC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FDBCBC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FDBCBC;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_76 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_76 {
  width: 50.000000000000014%;
  height: 49.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_76 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_76 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_76 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_76 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_76 span#rtr-s-Text_cell_76_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_78 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_78 {
  width: 50.000000000000014%;
  height: 49.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_78 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_78 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_78 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_78 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_78 span#rtr-s-Text_cell_78_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_77 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_77 {
  width: 50.000000000000014%;
  height: 49.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_77 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_77 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_77 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_77 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_77 span#rtr-s-Text_cell_77_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_79 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_79 {
  width: 50.000000000000014%;
  height: 49.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_79 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_79 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_79 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_79 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Text_cell_79 span#rtr-s-Text_cell_79_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_4 {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_7 {
  position: absolute;
  width: 63.999999999999545px;
  min-height: 28.39454003384276px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_7 {
  box-shadow: none;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999999%);
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FDBCBC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FDBCBC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FDBCBC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FDBCBC;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_7 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow: hidden;
}

.non_jim_mobile #simulation {
  overflow: hidden;
}

.web #simulation {
  overflow: hidden;
}

#s-1dceb606-b45f-41f5-8b47-30aa54e81cf6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
