#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a > #backgroundBox {
  position: absolute;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a > #alignmentBox {
  position: relative;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_8 {
  position: absolute;
  width: 841.9999999999998px;
  min-height: 396.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_8 {
  box-shadow: none;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #FFE5C0 99.99999999999999%);
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Paragraph {
  box-shadow: none;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button {
  position: absolute;
  width: 98.0px;
  min-height: 72.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button {
  box-shadow: none;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999997%);
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button span#rtr-s-Button_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Paragraph_1 {
  box-shadow: none;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_1 {
  position: absolute;
  width: 98.0px;
  min-height: 72.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_1 {
  box-shadow: none;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFA9A9 0.001%, #F9E3E3 99.99999999999997%);
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_1 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_1 span#rtr-s-Button_1_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_2 {
  position: absolute;
  width: 208.0px;
  min-height: 75.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_2 {
  box-shadow: none;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999997%);
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_2 {
  position: absolute;
  width: 207.33333333333334px;
  min-height: 145.89731051344754px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_2 {
  box-shadow: none;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FDBCBC;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FB9696;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FB9696;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FB9696;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FB9696;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_3 {
  position: absolute;
  width: 207.3333333333332px;
  min-height: 145.89731051344734px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_3 {
  box-shadow: none;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FDBCBC;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FB9696;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FB9696;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FB9696;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FB9696;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_4 {
  position: absolute;
  width: 207.33333333333326px;
  min-height: 145.8973105134474px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_4 {
  box-shadow: none;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FDBCBC;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FB9696;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FB9696;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FB9696;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FB9696;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_5 {
  position: absolute;
  width: 207.33333333333334px;
  min-height: 145.89731051344734px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_5 {
  box-shadow: none;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FDBCBC;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FB9696;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FB9696;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FB9696;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FB9696;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_6 {
  position: absolute;
  width: 207.33333333333343px;
  min-height: 145.9px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_6 {
  box-shadow: none;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FDBCBC;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FB9696;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FB9696;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FB9696;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FB9696;
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_7 {
  position: absolute;
  width: 207.33333333333337px;
  min-height: 145.89731051344745px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_7 {
  box-shadow: none;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FDBCBC;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FB9696;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FB9696;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FB9696;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FB9696;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Panel_1 {
  width: 149.49999999999994px;
  height: 71.99999999999989px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Panel_1 {
  box-shadow: none;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Panel_1 > .backgroundLayer > .colorLayer {
  background-color: #FDBCBC;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle {
  position: absolute;
  width: 180.49999999999994px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle {
  box-shadow: none;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #FDBCBC;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Panel_2 {
  width: 149.49999999999994px;
  height: 71.99999999999989px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Panel_2 {
  box-shadow: none;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Panel_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Panel_2 .verticalalign {
  vertical-align: top;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_1 {
  position: absolute;
  width: 180.49999999999994px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_1 {
  box-shadow: none;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FDBCBC;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-45345c9a-bf5f-4ba1-9e56-60ffcd0a6a9a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
