#s-6638ae1f-e70e-449c-ae56-43e08d09d71b > #backgroundBox {
  position: absolute;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b > #alignmentBox {
  position: relative;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Image {
  position: absolute;
  width: 1279.9999999999995px;
  height: 800.2359375px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Image {
  box-shadow: none;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_3 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Ellipse_3 {
  width: 60.0px;
  height: 60.0px;
  min-height: 60.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #FDBCBC;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Ellipse_3 {
  box-shadow: none;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_3 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Image_35 {
  position: absolute;
  width: 30.0px;
  height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Image_35 {
  box-shadow: none;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Ellipse_1 {
  width: 85.0px;
  height: 80.0px;
  min-height: 80.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Ellipse_1 {
  box-shadow: none;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FF434F;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Image_23 {
  position: absolute;
  width: 53.0px;
  height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Image_23 {
  box-shadow: none;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Image_1 {
  position: absolute;
  width: 302.0000000000002px;
  height: 172.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Image_1 {
  box-shadow: none;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Rectangle {
  position: absolute;
  width: 322.9999999999998px;
  min-height: 153.00000000000009px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Rectangle {
  box-shadow: none;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #FDE1E0;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Rectangle > .borderLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Rectangle .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Rectangle .valign {
  vertical-align: top;
  text-align: center;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_7 {
  position: absolute;
  width: 80.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_7 {
  box-shadow: none;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999999%);
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_7 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_7 span#rtr-s-Button_7_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_8 {
  position: absolute;
  width: 80.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_8 {
  box-shadow: none;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_8 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999999%);
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_8 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_8 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Button_8 span#rtr-s-Button_8_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_4 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_4 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Ellipse_4 {
  width: 60.0px;
  height: 60.0px;
  min-height: 60.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #FE8F8F;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Ellipse_4 {
  box-shadow: none;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #FE8F8F;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_4 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Image_36 {
  position: absolute;
  width: 30.0px;
  height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-6638ae1f-e70e-449c-ae56-43e08d09d71b #s-Image_36 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow: hidden;
}

.non_jim_mobile #simulation {
  overflow: hidden;
}

.web #simulation {
  overflow: hidden;
}

#s-6638ae1f-e70e-449c-ae56-43e08d09d71b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
