#s-96f5bb94-04a3-4291-b66a-f83477834efa > #backgroundBox {
  position: absolute;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa > #alignmentBox {
  position: relative;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Rectangle {
  position: absolute;
  width: 330.9999999999998px;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Rectangle {
  box-shadow: none;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Rectangle > .borderLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph {
  box-shadow: none;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph_1 {
  box-shadow: none;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Table {
  position: absolute;
  width: 576.3333333333337px;
  height: 320.43809523809523px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Table {
  box-shadow: none;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Table > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Table > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Text_cell > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Text_cell {
  width: 100.00000000000007%;
  height: 49.0%;
  text-shadow: none;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Text_cell > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Text_cell .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Text_cell .valign {
  vertical-align: middle;
  text-align: center;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Text_cell span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Text_cell span#rtr-s-Text_cell_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Text_cell_20 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Text_cell_20 {
  width: 100.00000000000007%;
  height: 49.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Text_cell_20 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Text_cell_20 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Text_cell_20 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph_2 {
  box-shadow: none;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow: hidden;
}

.non_jim_mobile #simulation {
  overflow: hidden;
}

.web #simulation {
  overflow: hidden;
}

#s-96f5bb94-04a3-4291-b66a-f83477834efa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
