#s-9c898df9-2f86-4e10-951d-6fbec25573f5 > #backgroundBox {
  position: absolute;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 > #alignmentBox {
  position: relative;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Rectangle_7 {
  position: absolute;
  width: 931.1142578125005px;
  min-height: 84.23636363636354px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Rectangle_7 {
  box-shadow: none;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #FFE5C0 99.99999999999993%);
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FDBCBC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FDBCBC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FDBCBC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FDBCBC;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Paragraph {
  box-shadow: none;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Button {
  position: absolute;
  width: 116.0px;
  min-height: 67.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Button {
  box-shadow: none;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Button > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Button > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999997%);
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Button > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 #s-Button span#rtr-s-Button_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-9c898df9-2f86-4e10-951d-6fbec25573f5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
