#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace > #backgroundBox {
  position: absolute;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace > #alignmentBox {
  position: relative;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Image {
  position: absolute;
  width: 258.0px;
  height: 267.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Image {
  box-shadow: none;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input input::-moz-placeholder {
  color: #B4B4B4;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input input:-moz-placeholder {
  color: #B4B4B4;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input {
  position: absolute;
  width: 1189.000000000001px;
  height: 321.67466421903544px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input {
  box-shadow: none;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input .valign {
  vertical-align: middle;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input_1 input::-webkit-input-placeholder {
  color: #000000;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input_1 input::-moz-placeholder {
  color: #000000;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input_1 input:-moz-placeholder {
  color: #000000;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input_1 input:-ms-input-placeholder {
  color: #000000;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input_1 {
  position: absolute;
  width: 557.0000000000013px;
  height: 50.674664219035776px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input_1 {
  box-shadow: none;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input_1 .valign {
  vertical-align: middle;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_1 {
  position: absolute;
  width: 557.0000000000008px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_1 {
  box-shadow: none;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_2 {
  position: absolute;
  width: 557.0000000000008px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_2 {
  box-shadow: none;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_1 {
  box-shadow: none;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_2 {
  box-shadow: none;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_3 {
  box-shadow: none;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_4 {
  box-shadow: none;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_4 {
  position: absolute;
  width: 281.00000000000136px;
  min-height: 99.67466421903573px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_4 {
  box-shadow: none;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F4BBBB 99.99999999999999%);
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_4 > .borderLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow: hidden;
}

.non_jim_mobile #simulation {
  overflow: hidden;
}

.web #simulation {
  overflow: hidden;
}

#s-9f14f9d8-1ed4-4088-a0a4-3a2a4bd22ace > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
