#s-bfe908fe-7b8c-4137-9457-c376a66ebfba > #backgroundBox {
  position: absolute;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba > #alignmentBox {
  position: relative;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Panel_1 {
  width: 874.9999999999985px;
  height: 386.9718750000002px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Panel_1 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_3 {
  position: absolute;
  width: 122.37764477716087px;
  min-height: 61.62422788431451px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_3 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999999%);
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_1 {
  position: absolute;
  width: 269.3367796844277px;
  height: 61.21704735730657px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_1 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 16.5pt;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_1 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
  min-height: 16.5pt;
  text-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_1 .icon {
  top: 21.608523678653285px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_3 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_4 {
  position: absolute;
  width: 86.80194635180055px;
  min-height: 38.37676467047123px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_4 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999997%);
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_5 {
  position: absolute;
  width: 120.37764477716064px;
  min-height: 61.62422788431445px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_5 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_5 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999999%);
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_5 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_5 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_5 span#rtr-s-Button_5_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_6 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Image_1 {
  position: absolute;
  width: 241.53211648991538px;
  height: 260.0526630972204px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Image_1 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_3 {
  position: absolute;
  width: 565.4939460088497px;
  min-height: 51.61013179821995px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_3 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_4 {
  position: absolute;
  width: 567.4012153378685px;
  min-height: 51.61013179821998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_4 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_7 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_8 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Panel_2 {
  width: 874.9999999999982px;
  height: 370.9718750000002px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Panel_2 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Panel_2 .verticalalign {
  vertical-align: top;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_6 {
  position: absolute;
  width: 122.37764477716087px;
  min-height: 61.62422788431451px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_6 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999999%);
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_6 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_6 span#rtr-s-Button_6_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_2 {
  position: absolute;
  width: 269.3367796844277px;
  height: 61.21704735730657px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_2 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 16.5pt;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_2 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
  min-height: 16.5pt;
  text-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Input_2 .icon {
  top: 21.608523678653285px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_9 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_7 {
  position: absolute;
  width: 86.80194635180055px;
  min-height: 38.37676467047123px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_7 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999997%);
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_7 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_7 span#rtr-s-Button_7_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_8 {
  position: absolute;
  width: 120.37764477716064px;
  min-height: 61.62422788431445px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_8 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_8 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.001%, #F8CFCF 99.99999999999999%);
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_8 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_8 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Button_8 span#rtr-s-Button_8_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_10 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Image_2 {
  position: absolute;
  width: 235.53211648991532px;
  height: 191.0526630972204px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Image_2 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_5 {
  position: absolute;
  width: 565.4939460088497px;
  min-height: 51.61013179821995px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_5 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_6 {
  position: absolute;
  width: 567.4012153378685px;
  min-height: 51.61013179821998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_6 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_11 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_12 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Table_1 {
  position: absolute;
  width: 289.3333333333336px;
  height: 128.00158730158705px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Table_1 {
  box-shadow: none;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Table_1 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Table_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FDBCBC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FDBCBC;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Text_cell_3 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Text_cell_3 {
  width: 100.00000000000004%;
  height: 50.0%;
  text-shadow: none;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Text_cell_3 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #F6A19F;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Text_cell_3 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Text_cell_3 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Text_cell_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Text_cell_20 > .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 1.0px;
  padding-right: 1.0px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Text_cell_20 {
  width: 100.00000000000004%;
  height: 50.0%;
  text-shadow: none;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Text_cell_20 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Text_cell_20 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Text_cell_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow: hidden;
}

.non_jim_mobile #simulation {
  overflow: hidden;
}

.web #simulation {
  overflow: hidden;
}

#s-bfe908fe-7b8c-4137-9457-c376a66ebfba > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
