#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b > #backgroundBox {
  position: absolute;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b > #alignmentBox {
  position: relative;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle {
  position: absolute;
  width: 578.0px;
  min-height: 593.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle {
  box-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FF5C58 0.001%, #FCD2D1 99.99999999999997%);
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input input::-moz-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input input:-moz-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input {
  position: absolute;
  width: 240.99999999999977px;
  height: 60.018867924528195px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input {
  box-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input .valign {
  vertical-align: middle;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_1 {
  position: absolute;
  width: 246.0px;
  height: 60.018867924528195px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_1 {
  box-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_1 .valign {
  vertical-align: middle;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_2 {
  position: absolute;
  width: 515.9999999999995px;
  height: 60.018867924528195px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_2 {
  box-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_2 .valign {
  vertical-align: middle;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_3 {
  position: absolute;
  width: 517.9999999999995px;
  height: 60.018867924528195px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_3 {
  box-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_3 .valign {
  vertical-align: middle;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_4 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_4 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_4 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_4 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_4 {
  position: absolute;
  width: 517.9999999999995px;
  height: 60.018867924528195px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_4 {
  box-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_4 .valign {
  vertical-align: middle;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Input_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category {
  position: absolute;
  width: 133.0px;
  height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}

_:-ms-fullscreen, :root #s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category {
  box-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category_1 {
  position: absolute;
  width: 133.0px;
  height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}

_:-ms-fullscreen, :root #s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category_1 {
  box-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category_1 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category_1 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category_2 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category_2 {
  position: absolute;
  width: 133.0px;
  height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}

_:-ms-fullscreen, :root #s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category_2 {
  box-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category_2 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category_2 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category_2 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Category_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Paragraph {
  box-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_1 {
  position: absolute;
  width: 229.99999999999943px;
  min-height: 70.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_1 {
  box-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Radio_button {
  position: absolute;
  width: 17.60617760617754px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Radio_button {
  box-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Button {
  position: absolute;
  width: 109.99999999999943px;
  min-height: 52.96912521440822px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Button {
  box-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Button > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Button > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FE8F8F 0.09780775716695844%, #FCD2D1 99.72333133873687%);
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Button > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Button span#rtr-s-Button_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Paragraph_1 {
  box-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_2 {
  position: absolute;
  width: 229.99999999999943px;
  min-height: 70.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_2 {
  box-shadow: none;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FCD2D1;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FCD2D1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FCD2D1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FCD2D1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FCD2D1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Radio_button_1 {
  position: absolute;
  width: 17.60617760617754px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fa7ae163-d76e-41c0-b159-b1e757c39f7b #s-Radio_button_1 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-fa7ae163-d76e-41c0-b159-b1e757c39f7b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
